@import url('variable.css');

div.Titlecart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h1 {
        color: #eaebeb;
        font-size: 4rem;
        margin: 0rem 5rem;
        font-family: "Inter", sans-serif;
    }

    img {
        margin: 1rem;
    }
}

div.items{
    display: flex;
    flex-direction: row;
    border: solid 4px #FF1801;
    border-radius: 60px;
    margin: 5rem;
    background-size: 20rem;
    img{
        border-radius: 60px;
    }

    div.listtext{
        color: #eaebeb;
        display: flex;
        flex-direction: row;
        justify-content: end;
        justify-content: space-between;
        border-spacing: 2rem;
        align-items: center;
        p{
            color: #eaebeb;
            margin: 1rem;
            font-size: 2rem;
            left: 2rem;
            font-family: "Inter", sans-serif;


        }

        h2{
            color: white;
            font-size: 3rem;
            margin: 0 ;
            border: 0;
            font-family: "Inter", sans-serif;
            justify-content: end;
            background: 2REM;

        }
        div.Priceitem {

            h3 {

                font-size: 2rem;
                padding: 1rem 1rem;
                margin: 0;
                border: 0;
                font-family: "Inter", sans-serif;
                background: 1rem;
                color: #eaebeb;
                /*margin-left: 19rem;*/





            }
         }
    }


}
div.Checkout{
    display: flex;
    flex-direction: row;
    color: #eaebeb;
    border: solid #FF1801;
    align-items: center;
    justify-content: space-between;
    margin: 0rem;
    padding: 0rem;
    flex-wrap: wrap;
    border-spacing: 2rem;



    h4{
        font-size: 3rem;
        margin: 1rem;
        padding: 1rem;

    }
    p{
        font-size: 2rem;
        margin: 1rem;
        padding: 1rem;

    }
    h5{
        font-size:2rem ;
        margin: 1rem;
        padding: 1rem;

    }
}