@import url('variable.css');


section.CarYear{
    div.Years {
        display: flex;
        flex-direction: row;
        /*flex-wrap: nowrap;*/
        margin: 1rem 5rem;
        overflow: hidden;
        padding: 0rem 5rem;
        justify-content: center;
        overflow: hidden;



        a{
            text-align: center;
        }


        div.twentytwentyfive {
            background-color: #14203E;
            /*align-items: center;*/
            border-radius: 20px;
            margin: 0rem 1rem;
            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                text-align: center;



            }
        }
        div.twentytwentyfour {
            background-color: #14203E;
            border-radius: 20px;
            margin: 0rem 1rem;

            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                border: 0rem;
                text-align: center;
            }
        }
        div.twentytwentythree {
            background-color: #14203E;
            border-radius: 20px;
            margin: 0rem 1rem;

            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                border: 0rem;
                text-align: center;
            }
        }
        div.twentytwentytwo {
            background-color: #14203E;
            border-radius: 20px;
            margin: 0rem 1rem;

            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                border: 0rem;
                text-align: center;
            }
        }
        div.twentytwentyone {
            background-color: #14203E;
            border-radius: 20px;
            margin: 0rem 1rem;

            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                border: 0rem;
                text-align: center;
            }
        }
        div.twentytwenty {
            background-color: #14203E;
            border-radius: 20px;
            margin: 0rem 1rem;

            a {
                text-decoration: none;
                color: white;
                font-family: "Inter", sans-serif;
                font-size: 3.5rem;
                margin: 0rem 1rem;
                padding: 1rem;
                border: 0rem;
                text-align: center;
            }
        }
    }


}




section.Brand {
    /*Featured product styling*/

    div.Brand\.title {
        font-size: 2.5rem;
        color: white;
        margin-top: 5rem;
        margin-left: 10rem;
        font-family: "Inter", sans-serif;
    }

    div.Brand\.Filter {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 1rem 5rem;
        overflow: auto;
        align-items: center;
        /*justify-content: center;*/
        padding: 0rem 5rem;
        scrollbar-color: #FF1801 var(--color-backgroud-html);

        a {
            text-decoration: none;
            font-size: 3rem;
            font-family: "Inter", sans-serif;
            color: white;
        }

        img {
            border-radius: 20px;
        }
    }

    div.SCUDERIAFERRARI {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }
    }
    div.Redbull {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Mercedesf1 {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.MClaren {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Astonmartin {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Williams {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.HAAS {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Racingbulls {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Kick {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
    div.Alpine {
        margin: 2rem;
        background-color: #02060c;
        border-radius: 20px;

        h3 {
            text-decoration: none;
            font-size: 2rem;
            background-color: #02060c;
            margin: 0rem 1rem;
            padding: 0rem;
            border: 0rem;
        }

    }
}

/*Responsive*/
@media (max-width: 1200px) {
    .CarYear div.Years {
        margin: 1rem 3rem;
        padding: 0rem 3rem;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .Brand div.Brand\.title {
        margin-left: 5rem;
        font-size: 2.2rem;
    }

    div.Brand\.Filter {
        margin: 1rem 3rem;
        padding: 0rem 3rem;
    }
}

@media (max-width: 915px) {
    .CarYear div.Years {
        margin: 1rem 2rem;
        padding: 0rem 2rem;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Brand div.Brand\.title {
        margin-left: 3rem;
        font-size: 2rem;
        margin-top: 3rem;
    }

    div.Brand\.Filter {
        margin: 1rem 2rem;
        padding: 0rem 2rem;
        flex-wrap: wrap;
        overflow: scroll;
    }

}

