@import url('variable.css');
footer.foot{
    background-color: grey;
    border-top: outset red 5px;
    position: absolute;
    width: 100%;
    font-family: "Inter", sans-serif;

}
div.Backtotop{
    font-size: 2rem;
    padding: 1.5rem;
    text-align: center;
    a{
        text-decoration: none;
        color: #eaebeb;
    }

}
div.FOOT1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: grey;
    p{
        margin: 2rem;
    }
    hr {
        min-height: 100%;
        max-height: 100vh;
        margin: 0;

    }
    img{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}
div.Foot2 {
    justify-content: center;
    text-align: center;
    background-color: grey;

    p {
        margin: 2rem;
    }

    hr {


    }

}
div.footermenu,div.categoriemenu{
    a{
        text-decoration: none;
        color: #eaebeb;
    }
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 2rem;
    letter-spacing: 2px;
}
div.logo{
    font-size: 2rem;
    color: #eaebeb;
    padding: 1.5rem;
}
p{
    color: #eaebeb;
    font-size: 1.5rem;
    a{
        text-decoration: none;
        color: #eaebeb;
    }
}